@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #064e3b;
  --foreground: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  display: block !important; 
}